.product-type{
    padding-top: 1rem;
}

.products-container{
    margin: 1rem 0; 
    row-gap: 5vh; 
}

.product{
    display: grid; 
    grid-template-areas: "img" "info"; 
    grid-template-columns: 100%; 
    grid-template-rows: 40vh auto; 
    grid-row-gap: 0.5rem; 
    margin: 0 0.5rem;
    width: calc(100% - 1rem); 
}

.product__img{
    grid-area: img; 
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;  
    position: relative; 
}
.product__img__photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product__img__edit, .product__img__delete{
    position: absolute; 
    margin: 0.5rem; 
    color: var(--white); 
    transition: color 0.5s; 
}

.product__img__edit:hover, .product__img__delete:hover{
    color: var(--dark-aqua); 
}

.product__img__delete{
    left: 1.5rem; 
    cursor: pointer; 
}

.product__info{
    display: grid; 
    grid-area: info; 
    grid-template-areas: "name" "price" "button" "description"; 
    grid-template-rows: 1.5rem 1.5rem 1.5rem auto; 
}

.product__info__name{
    grid-area: name; 
    font-weight: 500;
}

.product__info__price{
    grid-area: price; 
}

.product__info__button{
    width: fit-content;
    grid-area: button; 
}

.product__info__description{
    grid-area: description; 
}

@media (min-width: 600px) {
    .product{
        width: calc(50% - 1rem); 
    }
}  

@media (min-width: 1200px) {
    .product{
        width: calc(25% - 1rem); 
    }
}
  